@import url('https://fonts.googleapis.com/css?family=Orbitron:700|Rajdhani:500,600');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,700,900&display=swap');

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size: 20px;
  /* background-image: url('../assets/back.jpg'); */
  /* background-size: cover; */
  background-color: #E1D7DA !important;
  font-family: 'Droid Serif', serif;
}

header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.head{
    text-align: center;
    position: relative;
}


.subhead{
    /* border-left: 5px solid #000; */
    padding: 15px 40px 15px 40px;
    background-color: #eae1e1;
    box-shadow: 5px 10px 18px #888888;
    /* border-radius: 10px; */
}

.subhead1{
    border-bottom: 1.5px solid #000;
    border-top: 1.5px solid #000;
    padding: 6px 8px 6px 8px;

}

.navbar {
    background-color: #e1d7da;
}

.nav-link {
    font-style: italic;
}

.nav-link:hover{
    background-color: #ffe0e0;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body > .container {
  padding: 60px 15px 15px;
}


.navbar-collapse.collapse.in {
    display: block!important;
}

article {
    margin: 30px 0;
    color: #3B332E;
    font-family: 'Playfair Display', serif;
}

article h2 {
    margin-bottom: 15px;
    color: #bbe1fa;
}

article a {
	transition: 0.4s;
}

article a:hover {
	text-decoration: none;
	transition: 0.2s;
}

article a.btn-more {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-size: 0.8rem;
	border: 1px solid #3F3226;
	margin: 10px 0; 
    padding: 5px 15px;
    background-color: #6A6251;
}

article a.btn-more:hover {
	background-color: #0e2f44;
	color: #fff;
}

article h2 a {
	color: #5C3F28;
	transition: 0.4s;
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	font-size: 1.75rem;
}

article p.date {
	font-size: 0.8rem;
    margin-bottom: 0;
}

#content {
    color: #000;
}

article .author {
    font-size: 1rem;
    font-style: italic;
}

@media screen and (min-width:768px){
/* .navbar {
    background-color: aqua;
} */

    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}